
.inputs{
    border: solid;
    background-color:white;
    
    height: 50px;
   
}


.submit{
    padding-top: 10px;
   
    
}
 
 .button{
    padding-top: 10px;
 }

 /* .box{
     border: solid;
     background-color: thistle;
     
 } */
#wrapperDiv{
    border: black;
    border: solid;
    background-color: #f7f7f7;
}

.box{
    height: 10px;
    padding-top: 10px;
}